*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  width: 1440px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif; }

.header {
  height: 130px; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  width: 1180px;
  margin: 0 auto; }
  .navbar__logo-box {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navbar__logo-image {
    position: relative; }
  .navbar__logo-background {
    position: relative;
    top: 0;
    left: 0;
    filter: drop-shadow(0 11.75px 26.7px rgba(251, 15, 90, 0.25)); }
  .navbar__logo-icon {
    position: absolute;
    top: 15.47px;
    left: 24.32px; }
  .navbar__logo-text {
    margin-left: 10px;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25)); }
  .navbar__nav-box {
    display: flex; }
  .navbar__nav-item {
    list-style: none; }
    .navbar__nav-item:not(:last-child) {
      margin-right: 41px; }
  .navbar__nav-link {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    line-height: 28px; }
  .navbar .follow-btn {
    background-color: #fb0f5a;
    padding: 18px 56px 18px 36px;
    border: none;
    border-radius: 46px;
    filter: drop-shadow(0 16px 24px rgba(251, 15, 90, 0.25));
    position: relative;
    top: 0;
    left: 0; }
    .navbar .follow-btn__text {
      color: #ffffff;
      font-size: 18px;
      line-height: 22px;
      font-weight: 800; }
    .navbar .follow-btn__icon--horizontal {
      position: absolute;
      top: 27px;
      left: 138px; }
    .navbar .follow-btn__icon--vertical {
      position: absolute;
      top: 22px;
      left: 143px; }
