.header {
  height: 130px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;

  @include page-width;

  &__logo-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-image {
    position: relative;
  }

  &__logo-background {
    position: relative;
    top: 0;
    left: 0;
    filter: drop-shadow(0 11.75px 26.7px rgba(251, 15, 90, 0.25));
  }

  &__logo-icon {
    position: absolute;
    top: 15.47px;
    left: 24.32px;
  }

  &__logo-text {
    margin-left: 10px;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  }

  &__nav-box {
    display: flex;
  }

  &__nav-item {
    list-style: none;

    &:not(:last-child) {
      margin-right: 41px;
    }
  }

  &__nav-link {
    text-decoration: none;
    color: $color-black;
    font-size: 18px;
    line-height: 28px;
  }
}

.follow-btn {
  background-color: $color-primary;
  padding: 18px 56px 18px 36px;
  border: none;
  border-radius: 46px;
  filter: drop-shadow(0 16px 24px rgba(251, 15, 90, 0.25));
  position: relative;
  top: 0;
  left: 0;

  &__text {
    color: $color-white;
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
  }

  &__icon {
    &--horizontal {
      position: absolute;
      top: 27px;
      left: 138px;
    }

    &--vertical {
      position: absolute;
      top: 22px;
      left: 143px;
    }
  }
}
