.hero {
  @include page-width;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;

  &__text-box {
    width: 600px;
    padding-right: 75px;

    &--span {
      color: $color-primary;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 22px;
    margin-bottom: 62px;
    filter: drop-shadow(0 4px 4px $color-shadow-black);
  }

  &__image-box {
    position: relative;
  }

  &__image {
    border-radius: 10px;
    border-bottom-right-radius: 200px;
    display: inline-block;
  }
}

.follow-btn-hero {
  background-color: $color-primary;
  padding: 26px 64px 26px 33px;
  border: none;
  border-radius: 46px;
  filter: drop-shadow(0 16px 24px $color-shadow-primary-large);
  position: relative;
  top: 0;
  left: 0;

  &__text {
    color: $color-white;
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
  }

  &__icon {
    &--horizontal {
      position: absolute;
      top: 35px;
      left: 138px;
    }

    &--vertical {
      position: absolute;
      top: 30px;
      left: 143px;
    }
  }
}

.contact-btn {
  color: $color-primary;
  background-color: $color-white;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  border: none;
  padding: 26px 44px;
  border-radius: 164px;
  filter: drop-shadow(0 4px 24px $color-shadow-primary-medium);
  margin-left: 26px;
}

#hero__vector--one {
  position: absolute;
  top: -70px;
  left: -60px;
  z-index: -1;
}
#hero__vector--two {
  position: absolute;
  top: -70px;
  left: 130px;
}

#hero__vector--three {
  position: absolute;
  top: -98px;
  left: 250px;
  z-index: -1;
}

#hero__vector--four {
  position: absolute;
  top: -35px;
  right: -60px;
  z-index: 1;
}

#hero__vector--five {
  position: absolute;
  top: 185px;
  right: -50px;
}

#hero__vector--six {
  position: absolute;
  top: 255px;
  right: -90px;
}

#hero__vector--seven {
  position: absolute;
  top: 290px;
  right: -100px;
  z-index: -1;
}

#hero__vector--eight {
  position: absolute;
  top: 370px;
  right: -80px;
}

#hero__vector--nine {
  position: absolute;
  bottom: -45px;
  right: 10px;
  z-index: 1;
}

#hero__vector--ten {
  position: absolute;
  bottom: -60px;
  left: 220px;
}

#hero__vector--eleven {
  position: absolute;
  bottom: -75px;
  left: 70px;
  z-index: -1;
}

#hero__vector--twelve {
  position: absolute;
  top: 315px;
  left: -80px;
}

#hero__vector--thirteen {
  position: absolute;
  top: 200px;
  left: -55px;
}
