.stats {
  @include page-width;

  display: flex;
  justify-content: right;
  align-items: center;
  text-align: center;
  height: 246px;
  width: 1390px;
  margin-bottom: 200px;
  margin-left: -100px;
  overflow: hidden;
  border-radius: 43px;
  box-shadow: 0 14px 34px $color-shadow-primary-small;

  &__text {
    margin-right: 136px;

    &:last-child {
      margin-right: 93px;
    }

    &--main {
      font-size: 62px;
      line-height: 62px;
      font-weight: 800;
      margin-bottom: 10px;
    }
    &--span {
      color: $color-primary;
    }
    &--sub {
      color: $color-grey;
      font-size: 25px;
      line-height: 32px;
    }
  }
}
